<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp Camp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
	
	<nav class="navbar navbar-light bg-light">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">YelpCamp</a>
		</div>
		<div class="">
			<ul class="nav">
				<li><a href="/">Singin</a></li>
				<li><a href="/">Sing up</a></li>
				<li><a href="/">Sing out</a></li>
			</ul>
		</div>
	</div>
</nav>
	
<body>